/* ====== Umum ====== */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fffdf5;
  color: #333;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: #2c1810;
}

p {
  line-height: 1.6;
}

/* ====== Navbar ====== */
.navbar {
  background-image: linear-gradient(to right, #d97706, #f59e0b);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* ===== Container di dalam Navbar ===== */
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  justify-content: space-between; /* logo kiri, link kanan */
  align-items: center; /* sejajarkan vertikal */
}

/* ===== Logo ===== */
.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* ===== Nav Links ===== */
.nav-links {
  display: flex;
  gap: 30px; /* jarak antar menu */
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 14pt;
  padding: 5px 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background-color: #d97706;
  color: #fff;
  box-shadow: 0 4px 10px rgba(217, 119, 6, 0.4);
  transform: translateY(-2px);
}

/* ====== Responsif ====== */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 30px;
  }

  .nav-links {
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
  }

  .nav-links a {
    font-size: 12pt;
  }
}

/* ====== Hero Section ====== */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  background-image: url("./img/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero h2 {
  font-size: 35px;
  color: #d97706;
  text-shadow: 2px 2px 4px #323030;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px #323030;
  margin-top: 10px;
}

.btn-utama {
  display: inline-block;
  margin-top: 20px;
  background-color: #d97706;
  color: white;
  padding: 12px 22px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn-utama2 {
  display: inline-block;
  margin-top: 20px;
  background-color: #2c1810;
  color: white;
  padding: 12px 22px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn-utama:hover {
  background-color: #f59e0b;
}

/* ====== Fitur Section ====== */
.fitur {
  text-align: center;
  padding: 50px;
  background-color: #fff;
  border-bottom: #d97706;
}

.fitur h3 {
  font-size: 30px;
  color: #d97706;
  margin-bottom: 20px;
}

.fitur-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.fitur-box {
  background-image: linear-gradient(to right, #d97706, #f59e0b);
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.fitur-box:hover {
  transform: translateY(-6px);
}

/* ====== Layanan Section ====== */
.layanan {
  text-align: center;
  padding: 50px;
  background-image: linear-gradient(to right, #d97706, #f59e0b);
}

.layanan h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.layanan-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.layanan-box {
  background-color: #fbfbfb;
  width: 260px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.layanan-box:hover {
  transform: translateY(-6px);
}

/* ====== Tentang Section ====== */
.tentang {
  text-align: center;
  padding: 50px;
  background-color: #fff;
}

.tentang h3 {
  font-size: 30px;
  color: #d97706;
  margin-bottom: 50px;
}

/* ====== Kontak Section ====== */
.kontak {
  text-align: center;
  padding: 10px;
  background-image: linear-gradient(to right, #d97706, #f59e0b);
}

.kontak h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.kontak p {
  color: #555;
}

.kontak link :hover {
  background-color: #fff;
}

/* ====== Footer ====== */
footer {
  background-color: #111;
  color: #bbb;
  text-align: center;
  padding: 10px;
  font-size: 15px;
}
